<div class="container">
<h1>Mes annonces</h1>
<h1><%=  %></h1>
<table class='table table-hover'>
	
	<th>Titre</th>
	<th>Description</th>
	<th>Actions</th>
	

<% @my_annonces.each do |annonce| %>
	<tr>
		<td><%= link_to annonce.titre, annonce %></td>
		<td><%= link_to annonce.description, annonce %></td>
		<td><%= link_to "Editer", edit_annonce_path(annonce) %> |
			<%= link_to "Supprimer", annonce_path(annonce), method: :delete, data: { confirm: "êtes vous sur ?"} %></td>
	</tr>
<% end %>

</table>
</div>