<%
meta title: "Mes annonces-Fond'Atelier",
     description: "Mes annonces-Fond'Atelier"    
%>

<div class="container">
<h1>Mes annonces</h1>
<h1><%=  %></h1>

<table class='table table-hover'>
	<tr class="info">
		<th>Titre</th>
		<th>Description</th>
		<th>Actions</th>
	</tr>

<% @my_annonces.each do |annonce| %>
	<tr>
		<td><%= link_to annonce.titre, annonce %></td>
		<td><%= link_to annonce.description, annonce %></td>
		<td><%= link_to "Editer", edit_annonce_path(annonce) %> |
			<%= link_to "Supprimer", annonce_path(annonce), method: :delete, data: { confirm: "êtes vous sur ?"} %></td>
	</tr>
<% end %>

</table>
</div>