<div class="container">
	<h1>Nouveau message</h1>

	<%= form_for :contact do |f| %>

		<div>
		<%= f.label :name, "Titre du message" %>
		<%= f.text_field :name, {class: "form-control input-lg"} %>
		</div><br>

		<div>
		<%= f.label :email, "Destinataire" %>
		<%= f.text_field :email, {class: "form-control input-lg"} %>
		</div><br>

		<div>
		<%= f.label :message, "Contenu du message" %>
		<%= f.text_area :message, {class: "form-control input-lg"} %>
		</div><br>
		
		<%= f.submit "Créer", class:"btn btn-primary"

	<%end%>

</div>