<div class="container">
	<h1>Nouveau message</h1>

	<%= form_for :contact, url:contacts_path, method: :post do |f| %>

		<div>
		<%= f.label :name, "Titre du message" %>
		<%= f.text_field :name, {class: "form-control input-lg"} %>
		</div><br>

		<div class='hidden'>
			<fieldset disabled>
		<%= f.label :email, "Destinataire" %>
		<%= f.text_field :email, {class: "form-control", id: "disabledInput", value: 'ddaoellena@gmail.com'} %></fieldset>
		<br>
		</div>

		<div>
		<%= f.label :message, "Contenu du message" %>
		<%= f.text_area :message, {class: "form-control input-lg"} %>
		</div><br>

		<%= f.submit 'Envoyer le message', class:"btn btn-primary"%>

	<%end%>

</div>