<script type="text/javascript">
$(document).ready(function() {

 $('#email_list').hide(); //Initially form wil be hidden.

  $('#button_hide').click(function() {
   $('#email_list').show();//Form shows on button click

   });
 });</script>

<div class="container">
	<h1>Listes diverses</h1>
	<p>Il y a <%= @user_count%> utilisateurs inscrits.</p>
	<table class='table table-hover'>
		<tr class="info">
			<th>ID</th>
			<th>Email</th>
			<th>Nom d'utilisateur</th>
			<th>Date de création</th>
		</tr>
		<tr>
		<% @user.each do |user|%>
			<td><%= user.id %></td>
			<td><%= user.email %></td>
			<td><%= user.name %></td>
			<td><%= user.created_at %></td>
		</tr>
		<%end%>
	</table>
	<button id="button_hide">Montrer liste email</button>

	<p id="email_list"><%=@user_email%></p>
	
	
</div>