<div class="center-block">

<%= form_for :annonce, url:annonces_path do |f| %>
<% if @annonce.errors.any? %>

	<div id="error_explanation">
		 <h2>
        <%= pluralize(@annonce.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @annonce.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
	</div>

	<% end %>

	<div>
	<%= f.label :titre, "Titre *" %>
	<%= f.text_field :titre, {class: "form-control input-lg"} %>
	</div><br>

	<div>
	<%= f.label :categorie, "Catégorie *" %>
	<%= f.collection_select :category_id, Categories.all, :id, :name, {prompt: "Sélectionner une catégorie"},  {class: "form-control input-lg"}%>
	</div><br>

	<div>	
	<p>
    <%= f.label :type, "Type de transaction *" %><br>
    <%= f.collection_select :type_id, Type.all, :id, :name, {prompt: "Sélectionner un type de transaction"},  {class: "form-control input-lg"}%>
 	 </p>
	</div><br>

	<div>
	<p>
    <%= f.label :description, "Description *" %><br>
    <%= f.text_area :description,  {class: "form-control input-lg"}%>
 	 </p>
	</div><br>

	<div>
	<p>
    <%= f.label :telephone, "Téléphone" %><br>
    <%= f.text_field :telephone, {class: "form-control input-sm"}%>
 	 </p>
	</div><br>

	<div>
	<%= f.label :images, "Images", {class: "control-label"} %>
	<%= f.file_field :image, class: "file" %>
	</div><br>

	<div>
	<%= f.label :ville, "Ville" %>
	<%= f.collection_select :ville_id, Ville.all, :id, :nom_ville, {prompt: "Sélectionner une ville"},  {class: "form-control input-lg"}%>
	</div><br>
	<!--
	<%= f.label :ecole, "Ecole" %>
-->
	
	<div>
	<br>
	<%= f.label :cgu, "En créant cette annonce, vous vous engagez à respecter les conditions générales d'utilisateur" %>
	<%= f.check_box :cgu %> 
	</div>

	<%= f.submit "Créer", class:"btn btn-primary" %>
<% end %>

<%= link_to 'Retour', annonces_path %> <br>

</div>
