<%
meta title: "Liste des annonces-Fond'Atelier",
     description: "Liste des annonces-Fond'Atelier",
     keywords: "Liste des annonces-Fond'Atelier"     
%>

<div class="container">

	<%= form_tag(annonces_path, :method => "get", id: "search-form", class: 'form-inline', role: 'form') do %>
	<div class="form-group">
		<span class="glyphicon glyphicon-search"></span>
		<%= text_field_tag :search, params[:search], placeholder: "Que cherchez-vous ?", class: "form-control input-xlarge" %>
		<%= submit_tag "Recherche", class: "btn btn-default" %>
	<% end %>
 	</div>

	<%if params[:categories].blank? %>
	<h2 style:'text-align:center;'>Annonces les plus récentes</h2>
	<%else%>
	<h3>Annonces publiées dans la catégorie "<%= params[:categories] %>"</h3>
	<%end%>

	<div class="dropdown">
		<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> Catégories 
			<span class="caret"></span></button>
		<ul class="dropdown-menu">
			<% Categories.all.each do |categories| %> 	
			<li><%= link_to categories.name, annonces_path(categories: categories.name) %></li>
			<% end %>
		</ul>
	</div><br>

<% if @check_annonce == true %>
	<table class='table table-hover'>
		<tr class="info">
			<th>Titre</th>
			<th>Description</th>
			<th>Catégorie</th>
			<th>Type de transaction</th>
			<th>Annonceur</th>
		</tr>
		<% @annonces.each do |annonce| %>
			<tr>
				<td><%= link_to annonce.titre, annonce %></td>
				<td><%= link_to annonce.description, annonce %></td>
				<td><%= Categories.where(id: annonce.category_id).pluck(:name).to_s.tr('[]', '').tr('""', '') %></td>
				<td><%= Type.where(id: annonce.type_id).pluck(:name).to_s.tr('[]', '').tr('""', '') %></td>
				<td><%=  User.where(id: annonce.user_id).pluck(:name).to_s.tr('[]', '').tr('""', '') %></td>
			</tr>
		<% end %>
	</table>

<% else %>
	<%if user_signed_in? %>
	<h3>Il n'y a pas encore d'annonce, <%= link_to 'postez une annonce', new_annonce_path %>.</h3>
	<%else%>
	<h2>Il n'y a pas encore d'annonce, <%= link_to 'connectez-vous', new_user_session_path %> pour poster une annonce.</h2>
	<%end%>
<% end %>


</div>