<div class="container">



	<%= form_tag(annonces_path, :method => "get", id: "search-form") do %>
		<%= text_field_tag :search, params[:search], placeholder: "Que cherchez-vous ?", class: "form-control" %>
		<%= submit_tag "Recherche", class: "btn btn-default" %>
	<% end %>

	
	<h2 style:'text-align:center;'>Annonces les plus récentes</h2>
	<h3><%= params[:categories] %></h3>
	<div class="dropdown">
	<% Categories.all.each do |categories| %>
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> Catégories <span class="caret"></span>
  </button>
  		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		<li><%= link_to categories.name, annonces_path(categories: categories.name) %></li>
	<% end %>
	</div>
<table>
	
	<th>Titre</th>
	<th>Contenu</th>

<% @annonces.each do |annonce| %>
	<tr>
		<td><%= link_to annonce.titre, annonce %></td>
		<td><%= annonce.description %></td>

	</tr>
<% end %>


</table>
</div>