<div class="container">

	<%= form_tag(annonces_path, :method => "get", id: "search-form", class: 'form-inline', role: 'form') do %>
	<div class="form-group">
		<span class="glyphicon glyphicon-search"></span>
		<%= text_field_tag :search, params[:search], placeholder: "Que cherchez-vous ?", class: "form-control input-xlarge" %>
		<%= submit_tag "Recherche", class: "btn btn-default" %>
	
	<% end %>
 
	</div>

	
	<h2 style:'text-align:center;'>Annonces les plus récentes</h2>
	<h3><%= params[:categories] %></h3>

	<div class="dropdown">
		<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> Catégories 
			<span class="caret"></span></button>
			<ul class="dropdown-menu">
	<% Categories.all.each do |categories| %>
  	
		<li><%= link_to categories.name, annonces_path(categories: categories.name) %></li>
	
	<% end %>
	</ul>
	</div>


<table class='table table-hover'>
	<tr class="info">
		<th>Titre</th>
		<th>Description</th>
		<th>Catégorie</th>
		<th>Annonceur</th>
	</tr>
<% @annonces.each do |annonce| %>
	<tr>
		<td><%= link_to annonce.titre, annonce %></td>
		<td><%= link_to annonce.description, annonce %></td>
		<td><%= Categories.where(id: annonce.category_id).pluck(:name).to_s.tr('[]', '').tr('""', '') %></td>
		<td><%=  User.where(id: annonce.user_id).pluck(:name).to_s.tr('[]', '').tr('""', '') %></td>

	</tr>
<% end %>

</table>
</div>