<div class="container">

<h1><%= link_to "Accueil", root_path %></h1>

<h1><%= params[:categories] %></h1>
<h1>Annonces</h1>

<%= form_tag(annonces_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Que cherchez-vous ?" %>
<%= submit_tag "Recherche" %>
<% end %>

<%= link_to "Annonces les plus récentes", annonces_path %>
<% Categories.all.each do |categories| %>
	<td><%= link_to categories.name, annonces_path(categories: categories.name) %></td>
<% end %>

<table>
	
	<th>Titre</th>
	<th>Contenu</th>

<% @annonces.each do |annonce| %>
	<tr>
		<td><%= link_to annonce.titre, annonce %></td>
		<td><%= annonce.description %></td>

	</tr>
<% end %>

</div>
</table>