<%
meta title:  @annonce.titre + " - Fond'Atelier",
     description: @annonce.description,
     keywords: @annonce.description     
%>

<%meta og: {
  	image: @annonce.image.url,
 	description: @annonce.description,
 	title:  @annonce.titre + " - Fond'Atelier"
}%>

<div class="container">
<div class='row'>
<div class="col-md-8">
	<h3>Titre</h3>
	<%= @annonce.titre %>

	<h4>Crée le </h4><%=I18n.l @annonce.created_at, format: :default%>

	<div>
	<h3>Description</h3>
		<%= @annonce.description %>
	<br>
	</div>
<div>
	<h3><%= "Annonceur" %></h3>
		<%= @user_name_string %>
	<br>
	
	</div>

	<div>
	<%if user_signed_in? %>
	<%if @annonce.telephone?%>
		
			<div>
			<h3>Téléphone</h3>
			<%= @annonce.telephone %>
			<br>
			</div>
		<%end%>
	<%else%>
		<h4> <%= link_to 'Connectez-vous', new_user_session_path %> pour voir les informations de cet annonceur afin de le contacter.</h4>	
	<%end%>
	</div>

	<div>
		<%= image_tag @annonce.image.url, :id => "image_annonce"%>
	<br>
	</div>

	<% if user_signed_in? %>
		<% if current_user.id == @annonce.user_id || current_user.name == 'Admin'%>
			<div>
				<%= link_to "Editer", edit_annonce_path(@annonce) %> |
				<%= link_to "Supprimer", annonce_path, method: :delete, data: { confirm: "êtes vous sur ?"} %>
			</div>
		<%end%>
	<%end%>

	<%= link_to "Retour à la liste des annonces", annonces_path %>
	
</div>

<div class="col-md-4">
	<div>
	<h3>Catégorie</h3>
		<%= @categorie %>
	<br>
	</div>

	<div>
	<h3>Type de transaction</h3>
		<%= @type %>
	<br>
	</div>

	<%if @annonce.ville_id? %>
		<div>
			<h3>Ville</h3>
			<%= @ville %>
			<br>
		</div>
	<%end%>

	
</div>

</div>
<!-- INUTILE
<p id="notice"><%= notice %></p> -->