<div class="container">

	<h3>Titre</h3>
	<%= @annonce.titre %>

	<h4>Crée le </h4><%= @annonce.created_at %>

	<h3>Catégorie</h3>
		<%= @categorie %>
	<br>

	<h3>Description</h3>
		<%= @annonce.description %>
	<br>

	<h3><%= "Téléphone" if @annonce.telephone? %></h3>
		<%= @annonce.telephone if @annonce.telephone? %>
	<%= "<br>".html_safe if @annonce.telephone? %>

	<h3><%= "Ville" if @annonce.ville? %></h3>
	<%= @ville %>
	<%= "<br>".html_safe if @annonce.ville? %>

	<h3><%= "Annonceur" %></h3>
		<%= @user_name_string %>
	<br>

	<%= image_tag @annonce.image.url, :id => "image_annonce"%>
	<br>

	<% if user_signed_in? %>
		<% if current_user.id == @annonce.user_id %>
			<%= link_to "Editer", edit_annonce_path(@annonce) %>
			<%= link_to "Supprimer", annonce_path, method: :delete, data: { confirm: "êtes vous sur ?"} %>
		<%end%>
	<%end%>

	<%= link_to "Retour", annonces_path %>
</div>
<!-- INUTILE
<p id="notice"><%= notice %></p> -->