<nav class="navbar navbar-default">
	<div class="container-fluid">

		<%= link_to 'Liste des annonces', annonces_path, :class => 'navbar-link' %> |

		<% if user_signed_in? %>
		<strong><%= current_user.name %></strong>
			<%= link_to "Mes annonces", mes_annonces_path,:class => 'navbar-link' %> |
		  	<%= link_to 'Modifier votre profil', edit_user_registration_path, :class => 'navbar-link' %> |
		  	<%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> |
		  <br>
		<%= link_to 'Nouvelle annonce', new_annonce_path %>

		<% else %>

		  <%= link_to "Créer un compte", new_user_registration_path, :class => 'navbar-link'  %> |
		  <%= link_to "S'identifier", new_user_session_path, :class => 'navbar-link'  %>
		
		<% end %>
	</div>
</nav>