<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class='navbar-header'>
			<%= link_to root_path, :class => 'navbar-link' do%>
				<img id="logo" src="../../assets/fondatelier_logo50.png">
				<%end%>
			</a>
		</div>
		<div>
			<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
				<li><p class="navbar-text">Connecté en tant que <strong><%= link_to edit_user_registration_path, :class => 'navbar-link' do %><%= current_user.name %></strong></p></li><%end%>
				<%end%>

				<li><%= link_to annonces_path, :class => 'navbar-link' do%><span class="glyphicon glyphicon-th-list"></span> <%= 'Liste des annonces'%>
				</li><%end%>

				<% if user_signed_in? %>

				<li><%= link_to mes_annonces_path,:class => 'navbar-link' do%><span class='glyphicon glyphicon-edit'></span> <%="Mes annonces"%>
				</li><%end%>
<!--
		  		<li><%= link_to 'Modifier votre profil', edit_user_registration_path, :class => 'navbar-link' %></li>-->
		  		<li><%= link_to destroy_user_session_path, method: :delete, :class => 'navbar-link' do%><span class='glyphicon glyphicon-off'></span> <%="Se déconnecter"%>
		  		</li><%end%>
				
				<li><%= link_to new_annonce_path do %><span class='glyphicon glyphicon-pencil'></span> 
					<%='Nouvelle annonce'%><li><%end%>

				<% else %>
				

		  		<li><%= link_to new_user_registration_path, :class => 'navbar-link' do %><span class="glyphicon glyphicon-user"></span> <%= "Créer un compte" %>
		  		</li><% end %>

		  		<li><%= link_to new_user_session_path, :class => 'navbar-link' do%> <span class="glyphicon glyphicon-log-in"></span> <%= "S'identifier" %>
		  		</li><% end %>
		
				<% end %>
			</ul>
		</div>
	</div>
</nav>