<!DOCTYPE html>
<!--
Hello cher curieux. Tu sembles être intéressé par mon projet. Celui-ci est encore en cours de développement et j'ai besoin d'aide.
-->
<html>
	<head>
		<title>Fond'Atelier</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<div class="container">
	<div id="header">
		<%= render "layouts/header" %>
	</div>
		
	<div class="container-fluid">
		<% if notice %>
			<p class="alert alert-success"><%= notice %></p>
		<% end %>
		
		<% if alert %>
			<p class="alert alert-danger"><%= alert %></p>
		<% end %>
	</div>
	</div>

<body>

	<%= yield %>
	<div class="container">
		<div id="footer">
			<%= render "layouts/footer" %>
		</div>
	</div>

</body>

</html>
