<!DOCTYPE html>

<html>
	<head>
		<%= metamagic %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,400italic' rel='stylesheet' type='text/css'>
	</head>
	<div class="container">
	<div id="header">
		<%= render "layouts/header" %>
	</div>
		
	<div class="container-fluid">
		<% if notice %>
			<p class="alert alert-success"><%= notice %></p>
		<% end %>
		
		<% if alert %>
			<p class="alert alert-danger"><%= alert %></p>
		<% end %>
	</div>
	</div>

<body>
	<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '440291142841844',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

	<%= yield %>
	<div class="container">
		<div id="footer">
			<%= render "layouts/footer" %>
		</div>
	</div>

</body>

</html>
